<p id="notice"><%= notice %></p>

<h1>Listing print reciepts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Case</th>
      <th>Prescription</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prints.each do |print| %>
      <tr>
        <td><%= print.name %></td>
        <td><%= print.case %></td>
        <td><%= print.prescription %></td>
        <td><%= print.published %></td>
        <td><%= link_to 'Show', print %></td>
        <td><%= link_to 'Edit', edit_print_path(print) %></td>
        <td><%= link_to 'Destroy', print, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Print', new_print_path %>
