<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @print.name %>
</p>

<p>
  <strong>Case:</strong>
  <%= @print.case %>
</p>

<p>
  <strong>Prescription:</strong>
  <%= @print.prescription %>
</p>

<p>
  <strong>Published:</strong>
  <%= @print.published %>
</p>
<p>
<%= link_to "Print", '#', class: "btn btn-primary",  onclick: 'window.print();return false;' %>

</p>

<%= link_to 'Edit', edit_print_path(@print) %> |
<%= link_to 'Back', prints_path %>
