<%= form_for(@pat) do |f| %>
  <% if @pat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pat.errors.count, "error") %> prohibited this pat from being saved:</h2>

      <ul>
      <% @pat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.datetime_select :dob %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.select :condition, [ 'Undetermined ','Good','Fair','Serious','Crtitcal','Treated and Released','Confirming patient deaths' ], :prompt => 'Select One' %>
  </div>
  <div class="field">
    <%= f.label :appointment %><br>
    <%= f.datetime_select :appointment %>
    
  </div>
  <div class="actions">
    <%= f.submit 'submit patient details'%>
  </div>
<% end %>
