<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  


  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :firm %><br>
    <%= f.text_field :firm %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :color %>
  </div>
  
     <div class="field">
     X ray:
     <%= check_box_tag 'shift[windows]', 'windows' %>St. James's Hospital
</div>
     <div class="field">
     Ct scan:
     <%= check_box_tag 'shift[ctscan]', 'ctscan' %>Mater Misericordiae University Hospital
</div>

     <div class="field">
     Endoscopy :
     <%= check_box_tag 'shift[endoscopy]', 'endoscopy' %>Rotunda Hospital
</div>

       <div class="field">
     Do you have a medical card? :
     <%= check_box_tag 'shift[card]', 'card' %>
</div>
  
  <div class="actions">
    <%= f.submit 'Transfer patient' %>
  </div>
<% end %>
