<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @doctor.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @doctor.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doctor.address %>
</p>

<p>
  <strong>User:</strong>
  <%= @doctor.user %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
