<p id="notice"><%= notice %></p>

<h1>Listing Transfers</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Firm</th>
      <th>Cost</th>
      <th>Detail</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.firstname %></td>
        <td><%= transfer.lastname %></td>
        <td><%= transfer.firm %></td>
        <td><%= transfer.cost %></td>
        <td><%= transfer.detail %></td>
        <td><%= transfer.age %></td>
        <td><%= link_to 'Show', transfer %></td>
        <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
        <td><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer', new_transfer_path %>
