<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @transfer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @transfer.lastname %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @transfer.firm %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @transfer.cost %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @transfer.detail %>
</p>

<p>
  <strong>Age:</strong>
  <%= @transfer.age %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
