<p id="notice"><%= notice %></p>

<h1>Listing Trans</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Firm</th>
      <th>Cost</th>
      <th>Description</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trans.each do |tran| %>
      <tr>
        <td><%= tran.firstname %></td>
        <td><%= tran.lastname %></td>
        <td><%= tran.firm %></td>
        <td><%= tran.cost %></td>
        <td><%= tran.description %></td>
        <td><%= tran.age %></td>
        <td><%= link_to 'Show', tran %></td>
        <td><%= link_to 'Edit', edit_tran_path(tran) %></td>
        <td><%= link_to 'Destroy', tran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tran', new_tran_path %>
