<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @tran.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @tran.lastname %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @tran.firm %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @tran.cost %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tran.description %>
</p>

<p>
  <strong>Age:</strong>
  <%= @tran.age %>
</p>

<%= link_to 'Edit', edit_tran_path(@tran) %> |
<%= link_to 'Back', trans_path %>
