<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
    <li><%= link_to 'Doctor registration', doctors_path %></li>
  <%= render 'layouts/navigation_links' %>
    <li><%= link_to 'Patient Details', pats_path %></li>
  <%= render 'layouts/navigation_links' %>
    <li><%= link_to 'Third party transfers', new_shift_path %></li>
  <%= render 'layouts/navigation_links' %>
      <li><%= link_to 'Print reciept', prints_path %></li>
  <%= render 'layouts/navigation_links' %>
  
  

</ul>