<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <%= render 'layouts/navigation_links' %>
    <li><%= link_to 'Our Doctors', doctors_path %></li>
  <%= render 'layouts/navigation_links' %>
    <li><%= link_to 'Patient Details', pats_path %></li>
  <%= render 'layouts/navigation_links' %>
    <li><%= link_to 'Online Drughouse', shifts_path %></li>
  <%= render 'layouts/navigation_links' %>
      <li><%= link_to 'Careers', prints_path %></li>
  <%= render 'layouts/navigation_links' %>
  
  

</ul>